catalog.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?> 
<definitions name='Catalog' 
  targetNamespace='http://localhost/catalog' 
  xmlns:tns='http://localhost/catalog' 
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
  xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
  xmlns='http://schemas.xmlsoap.org/wsdl/'> 

<message name='getCatalogRequest'> 
  <part name='catalogId' type='xsd:string'/>
  <part name='uid' type='xsd:string'/>
  </message> 
<message name='getCatalogResponse'> 
  <part name='Result' type='xsd:string'/> 
</message> 
<message name='setCatalogRequest'>
 <part name='catalogId' type='xsd:string'/> 
</message>
<message name='setCatalogResponse'>
 <part name='Result' type='xsd:string'/> 
</message>


<portType name='CatalogPortType'> 
  <operation name='getCatalogEntry'>
    <input message='tns:getCatalogRequest'/> 
    <output message='tns:getCatalogResponse'/> 
  </operation> 
  <operation name='setCatalogEntry'>
    <input message='tns:setCatalogRequest'/> 
    <output message='tns:setCatalogResponse'/>
  </operation>
 
</portType> 

<binding name='CatalogBinding' type='tns:CatalogPortType'> 
  <soap:binding style='rpc' 
    transport='http://schemas.xmlsoap.org/soap/http'
  /> 
  <operation name='setCatalogEntry'>
  <soap:operation soapAction='urn:localhost-catalog#
    setCatalogEntry'/> 
  <input> 
      <soap:body use='encoded' namespace='urn:localhost-catalog' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </input> 
  <output> 
      <soap:body use='encoded' namespace='urn:localhost-catalog' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </output> 
  
  </operation>
  <operation name='getCatalogEntry'> 
    <soap:operation soapAction='urn:localhost-catalog#
    getCatalogEntry'/> 
    <input> 
      <soap:body use='encoded' namespace='urn:localhost-catalog' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </input> 
    <output> 
      <soap:body use='encoded' namespace='urn:localhost-catalog' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </output> 
  </operation> 
</binding> 

<service name='CatalogService'> 
  <port name='CatalogPort' binding='CatalogBinding'> 
    <soap:address location='http://localhost/soap-server.php'/> 
  </port> 
</service>
</definitions>